@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

$primary-500: #217bad;
$secondary-500: #00795a;
$third-500: #e45d5c;
$transition-common: 0.3s;
$font-serif: 'Noto Serif TC', sans-serif;

body {
    font-family: 'Noto Sans TC', sans-serif;
    color: #000;
    background-color: #fff;
    // padding-top: 44px;
    @media screen and (max-width: 1199px) {
        // padding-bottom: 60px;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

main {
    overflow: hidden;
    // padding-top: 44px;
    @media screen and (max-width: 767px) {
        padding-top: 0;
    }
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    padding: 10px 15px;
    background-color: $primary-500;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    li {
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        padding: 0 15px;
        position: relative;
        transition: $transition-common;
        &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 12px;
            background-color: #fff;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &:first-child {
            &::before {
                display: none;
            }
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

.kv {
    padding: 13.07vw 0 10.1vw;
    position: relative;
    &_logo {
        display: block;
        // width: 36vw;
        width: 500px;
        margin: 0 auto 70px;
    }
    &_h2 {
        margin-bottom: 20px;
        h2 {
            font-size: 50px;
            font-weight: 700;
            margin: 0;
            letter-spacing: 0.15em;
            .green {
                color: $secondary-500;
            }
        }
        img {
            width: 16px;
            display: block;
            margin: 0 20px;
        }
    }
    &_h3 {
        width: fit-content;
        margin: 0 auto 20px;
        position: relative;
        h3 {
            font-size: 46px;
            letter-spacing: 0.13em;
            margin: 0;
            font-weight: 500;
        }
        &_dot {
            width: 9px;
            height: 9px;
            background-color: $secondary-500;
            border-radius: 50%;
            margin: 0 20px 0 15px;
        }
        &::before, &::after {
            position: absolute;
            content: "";
            width: 9px;
            height: 34px;
            background-color: $secondary-500;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before {
            left: -25px;
        }
        &::after {
            right: -25px;
        }
    }
    &_inform {
        h4 {
            margin: 0;
        }
        &_small {
            font-size: 16px;
            transform: translateY(3px);
        }
        &_highlight {
            color: $third-500;
            font-size: 50px;
            font-weight: 900;
        }
        &_percent {
            font-size: 40px;
            font-weight: 900;
        }
        &_unit {
            font-size: 38px;
            font-weight: 500;
        }
        &_superhighlight {
            color: $third-500;
            font-weight: 900;
            font-size: 82px;
            margin: 0 3px;
        }
        &_from {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
            color: #fff;
            font-size: 16px;
            font-weight: normal;
            border-radius: 50%;
            padding-bottom: 3px;
            position: absolute;
            bottom: 15px;
            right: 5px;
        }
        &_price {
            position: relative;
            padding-right: 25px;
            &_unit {
                transform: translateY(12px);
            }
        }
        &_dot {
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: #000;
            margin: 0 15px;
        }
    }
    &_geometry {
        position: absolute;
        &_1 {
            width: 45%;
            top: -5.68vw;
            right: -13.85%;
        }
        &_2 {
            width: 41.67%;
            top: 10.63vw;
            left: -17.76%;
        }
    }
    &_bubble {
        position: absolute;
        &_1 {
            width: 21.15%;
            bottom: -9.2%;
            left: -5.62%;
        }
        &_2 {
            width: 7.96%;
            bottom: 0;
            right: 11%;
        }
        &_3 {
            width: 3.93%;
            bottom: 19.16%;
            left: 24.79%;
        }
        &_4 {
            width: 25%;
            top: 4.5%;
            left: -4%;
        }
        &_5 {
            width: 30%;
            bottom: -3%;
            right: -9%;
        }
    }
    @media screen and (max-width: 1299px) {
        &_geometry {
            &_1 {
                width: 40%;
            }
            &_2 {
                width: 36%;
            }
        }
        &_bubble {
            &_3 {
                left: 20%;
            }
        }
    }
    @media screen and (max-width: 991px) {
        &_logo {
            width: 270px;
            margin-bottom: 25px;
        }
        &_h2 {
            h2 {
                font-size: 26px;
            }
            img {
                width: 8px;
                margin: 0 13px;
            }
        }
        &_h3 {
            h3 {
                font-size: 24px;
            }
            &_dot {
                width: 4px;
                height: 4px;
                margin: 0 10px 0 7px;
            }
            &::before, &::after {
                width: 4px;
                height: 15px;
            }
            &::before {
                left: -16px;
            }
            &::after {
                right: -16px;
            }
        }
        &_inform {
            &_small {
                font-size: 12px;
            }
            &_highlight {
                font-size: 32px;
            }
            &_percent {
                font-size: 20px;
            }
            &_unit {
                font-size: 19px;
                transform: translateY(6px);
            }
            &_superhighlight {
                font-size: 38px;
            }
            &_from {
                width: 17px;
                height: 17px;
                font-size: 12px;
                padding-bottom: 0px;
                bottom: 5px;
                right: 3px;
            }
            &_dot {
                width: 4px;
                height: 4px;
                margin: 0 5px;
            }
            &_price {
                padding-right: 15px;
            }
        }
    }
    @media screen and (max-width: 575px) {
        padding: 35vw 0 36vw;
        &_geometry {
            &_1 {
                width: 45%;
                right: -21%;
                top: -11vw;
            }
            &_2 {
                width: 60%;
                left: -20%;
                top: inherit;
                bottom: -2.5%;
            }
        }
    }
    @media screen and (max-width: 450px) {
        padding: 67.78vw 0 73.15vw;
        &_geometry {
            &_1 {
                width: 85%;
                right: -42.76%;
                top: -26vw;
            }
            &_2 {
                width: 95%;
                left: -65%;
                top: inherit;
                bottom: -5.29%;
            }
        }
        &_bubble {
            &_4 {
                width: 37.1%;
                top: 8.75%;
                left: -7.81%;
            }
            &_5 {
                width: 56.81%;
                bottom: -4.61%;
                right: -18.9%;

            }
        }
    }
}

.airport {
    padding-top: 8vw;
    padding-bottom: 44.38vw;
    background-image: url(../img/airport_bg.webp);
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    >.container {
        max-width: 1500px;
        padding-left: 40px;
        padding-right: 40px;
    }
    &_title {
        margin-bottom: 40px;
        padding-left: 53px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 18px;
            height: 50px;
            background-color: $primary-500;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &_ch {
            font-size: 48px;
            font-weight: 700;
            color: $primary-500;
            margin: 0;
            letter-spacing: 0.15em;
        }
        &_dot {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $primary-500;
            margin: 0 20px;
        }
        &_en {
            color: $primary-500;
            font-family: $font-serif;
            font-weight: 700;
            margin: 0;
            opacity: 0.2;
            font-size: 60px;
            letter-spacing: 0.15em;
            margin-left: 10px;
        }
    }
    &_size {
        margin-bottom: 20px;
        h3, h4 {
            margin: 0;
        }
        &_num {
            font-size: 46px;
            font-weight: 700;
            color: $third-500;
        }
        &_unit {
            font-size: 29px;
            font-weight: 700;
            color: $third-500;
        }
        &_triangle {
            width: 6px;
            margin: 0 15px;
        }
        &_intro {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0.15em;
            .highlight {
                font-size: 29px;
                color: $third-500;
            }
        }
        &_dot {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #000;
            margin: 0 10px;
        }
    }
    &_text {
        font-size: 20px;
        letter-spacing: 0.05em;
        font-weight: 300;
        line-height: 1.6;
        margin-bottom: 20px;
        text-align: justify;
    }
    &_route {
        &_square {
            width: 17px;
            height: 17px;
            background-color: #000;
            margin-right: 10px;
        }
        &_text {
            font-size: 26px;
            margin: 0;
            font-weight: 500;
            line-height: 0.1em;
        }
        &_triangle {
            width: 13px;
            margin: 0 10px;
        }
    }
    &_slogan {
        font-family: $font-serif;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.2em;
        padding-left: 100px;
        position: relative;
        z-index: 0;
        span {
            display: block;
            &:nth-child(2) {
                transform: translateX(50px);
                margin-top: 20px;
            }
        }
        &::before {
            position: absolute;
            content: "";
            width: 146px;
            height: 146px;
            background-image: url(../img/airport_bubble.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            z-index: -1;
        }
    }
    &_deco {
        position: absolute;
        width: 39.23%;
        right: -27%;
        bottom: -5%;
        z-index: 1;
    }
    @media screen and (max-width: 1399px) {
        &_title {
            padding-left: 40px;
            &::before {
                width: 15px;
                height: 40px;
            }
            &_ch {
                font-size: 34px;
            }
            &_en {
                font-size: 42px;
            }
        }
        &_size {
            width: fit-content;
            margin-bottom: 20px;
            &_head {
                position: relative;
                // width: fit-content;
                &::after {
                    position: absolute;
                    content: "";
                    width: calc(100% - 200px);
                    height: 1px;
                    background-color: #000;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &_route {
            &_text {
                font-size: 20px;
            }
        }
    }
    @media screen and (max-width: 1199px) {
        &_slogan {
            width: fit-content;
            margin: 0 auto;
            padding-left: 50px;
            &-wrap {
                margin-top: 100px;
            }
            &::before {
                left: 0;
            }
        }
    }
    @media screen and (max-width: 991px) {
        padding-top: 23.69vw;
        padding-bottom: 107.55vw;
        background-image: url(../img/airport_bg_m.webp);
        >.container {
            padding-left: 20px;
            padding-right: 20px;
        }
        &_title {
            width: calc(100% * 10 / 12);
            margin-left: auto;
            margin-right: auto;
            &::before {
                transform: none;
                top: 0;
            }
            &_en {
                margin: 0;
                transform: translateX(-40px);
            }
        }
    }
    @media screen and (max-width: 660px) {
        &_title {
            width: 100%;
        }
        &_main {
            width: 100%;
        }
        &_slogan {
            font-size: 14px;
            padding-left: 15px;
            transform: translateX(-30px);
            span {
                &:nth-child(2) {
                    transform: translateX(30px);
                    margin-top: 10px;
                }
            }
            &-wrap {
                width: 100%;
            }
            &::before {
                width: 46px;
                height: 46px;
            }
        }
    }
    @media screen and (max-width: 575px) {
        &_title {
            padding-left: 20px;
            &::before {
                width: 5px;
                height: 20px;
                top: 5px;
            }
            &_ch {
                font-size: 22px;
            }
            &_dot {
                width: 4px;
                height: 4px;
                margin: 0 8px;
            }
            &_en {
                font-size: 18px;
                transform: translateX(-20px);
            }
        }
        &_size {
            &_head {
                // width: fit-content;
                &::after {
                    width: calc(100% - 100px);
                }
            }
            &_num {
                font-size: 21px;
            }
            &_unit {
                font-size: 16px;
            }
            &_intro {
                font-size: 16px;
                .highlight {
                    font-size: 17px;
                }
            }
            &_dot {
                width: 4px;
                height: 4px;
                margin: 0 5px;
            }
        }
        &_text {
            font-size: 15px;
        }
        &_route {
            &_square {
                width: 6px;
                height: 6px;
                margin-right: 5px;
            }
            &_text {
                font-size: 13px;
            }
            &_triangle {
                width: 4px;
                margin: 0 5px;
            }
        }
    }
    @media screen and (max-width: 360px) {
        &_title {
            &_ch {
                font-size: 18px;
            }
            &::before {
                top: 2px;
            }
        }
    }
}

.strength {
    padding: 80px 0 200px;
    background-color: #0076d0;
    margin-top: -2px;
    position: relative;
    &_title {
        margin-bottom: 20px;
        h2 {
            margin: 0;
            color: #fff;
            font-size: 46px;
            font-weight: 700;
            letter-spacing: 0.2em;
        }
        &_dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #fff;
            margin: 0 20px;
        }
    }
    &_subtitle {
        color: #fff;
        margin-bottom: 95px;
        h3 {
            font-size: 28px;
            font-weight: normal;
            margin: 0;
            letter-spacing: 0.1em;
            .highlight {
                color: #ffee00;
                font-weight: 700;
                font-size: 38px;
                letter-spacing: 0.05em;
            }
        }
        &_divide {
            width: 5px;
            height: 26px;
            background-color: #fff;
            margin: 0 20px;
            transform: translateY(5px);
        }
    }
    &_row {
        position: relative;
        margin-bottom: 70px;
        &_title {
            font-size: 36px;
            color: #fff;
            font-weight: normal;
            letter-spacing: 0.05em;
            width: fit-content;
            margin: 0 auto 25px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 36px;
                height: 36px;
                background-image: url(../img/strength_taregt.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                top: 50%;
                left: -50px;
                transform: translateY(-45%);
            }
        }
        &_divide {
            position: absolute;
            width: 40px;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
    &_industry {
        width: 33.3333%;
        padding-bottom: 33.3333%;
        position: relative;
        // z-index: 0;
        &-wrap {
            padding: 0 40px;
        }
        >p {
            position: absolute;
            margin: 0;
            color: #fff;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0.05em;
            text-shadow: 0 0 5px rgba(0,0,0,0.5);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            z-index: 1;
        }
        &::after {
            width: 100%;
            height: 100%;
            position: absolute;
            content: "";
            background: linear-gradient(33deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 15%, rgba(220, 225, 233, 0.85) 77%, rgba(220, 225, 233, 0.85) 100%);
            mix-blend-mode: multiply;
            border-radius: 50%;
            // z-index: -1;
        }
    }
    &_company {
        display: flex;
        padding: 0 80px;
        &:first-child {
            margin-top: 50px;
        }
        &_item {
            display: flex;
            align-items: center;
            padding: 10px 30px;
            width: 50%;
            margin-bottom: 35px;
            &.whitebg {
                background-color: #fff;
                border-radius: 100px 0 0 100px;
                color: #003980;
            }
            &.bluebg {
                background-color: #003980;
                border-radius: 0 100px 100px 0;
                color: #fff;
            }
        }
        &_triangle {
            width: 10px;
            margin-right: 15px;
        }
        &_text {
            font-size: 24px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 10px - 15px);
        }
    }
    &_divide-m {
        margin: 50px 0;
        width: 100%;
        display: block;
    }
    &_text {
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 0.2em;
        color: #fff;
        line-height: 1.6;
        .highlight {
            font-weight: 700;
            color: #ffee00;
        }
    }
    &_bubble {
        width: 12%;
        position: absolute;
        left: -2.8%;
        bottom: 3.7%;
    }
    &_geometry {
        width: 33.7%;
        position: absolute;
        right: -23.6%;
        top: 0;
    }
    @media screen and (max-width: 1500px) {
        &_bubble {
            display: none;
        }
    }
    @media screen and (max-width: 1399px) {
        >.container {
            max-width: inherit;
        }
        &_title, &_subtitle {
            padding-left: 40px;
            padding-right: 40px;
        }
        &_company {
            padding: 0 40px;
        }
        &_industry {
            >p {
                font-size: 20px;
            }
        }
    }
    @media screen and (max-width: 1199px) {
        &_company, &_industry-wrap {
            padding: 0 20px;
        }
    }
    @media screen and (max-width: 991px) {
        padding: 40px 0 50px;
        &_title {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 30px;
            h2 {
                font-size: 22px;
            }
            &_dot {
                width: 4px;
                height: 4px;
                margin: 0 5px;
            }
            &::before {
                position: absolute;
                content: "";
                width: calc(100% - (100% - 280px) / 2 + 20px);
                height: 1px;
                background-color: #ffed00;
                left: -20px;
                bottom: 0;
            }
            &::after {
                position: absolute;
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #ffed00;
                right: calc((100% - 280px) / 2);
                bottom: 0;
                transform: translateY(calc(50% - 1px));
            }
        }
        &_subtitle {
            width: 280px;
            margin: 0 auto 95px;
            h3 {
                font-size: 18px;
                position: relative;
                .highlight {
                    font-size: 20px;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #ffed00;
                    top: 50%;
                    left: -15px;
                    transform: translateY(-10%);
                }
            }
            &_top {
                margin-bottom: 10px !important;
            }
            &_bottom {
                width: fit-content;
                margin-left: auto !important;
            }
        }
        &_row {
            max-width: 500px;
            margin: 0 auto;
            &_divide {
                display: none;
            }
        }
    }
    @media screen and (max-width: 575px) {
        &_row {
            >div {
                padding: 0;
            }
            &_title {
                font-size: 20px;
                &::before {
                    width: 20px;
                    height: 20px;
                    left: -25px;
                }
            }
        }
        &_industry {
            >p {
                font-size: 16px;
            }
            &-wrap {
                padding: 0;
            }
        }
        &_company {
            padding: 0;
            &:first-child {
                margin-top: 0;
            }
            &_text {
                font-size: 18px;
                width: calc(100% - 15px);
            }
            &_item {
                margin-bottom: 20px;
                padding: 10px 15px;
            }
            &_triangle {
                width: 5px;
                margin-right: 10px;
            }
        }
        &_divide-m {
            margin: 30px 0;
        }
    }
}

.map {
    position: relative;
    &_bubble {
        position: absolute;
        &-1 {
            width: 16.48%;
            top: -12.58%;
            right: -8%;
        }
        &-2 {
            width: 10.91%;
            bottom: -8.1%;
            left: 7.6%;
        }
        &-3 {
            width: 30%;
            top: 0;
            right: -12.07%;
        }
    }
    &_text {
        position: absolute;
        color: #fff;
        font-size: 13px;
        text-shadow: 0 0 5px #000;
        letter-spacing: 0.3em;
        bottom: 25px;
        left: 25px;
    }
    &_title {
        padding-top: 113px;
        padding-bottom: 20px;
        text-align: center;
        background-color: #0075ce;
        // background: linear-gradient(to bottom, #0075ce 0%, #0075ce 85%, rgba(0, 117, 206, 0) 100%);
        z-index: 1;
        &_ch {
            font-size: 32px;
            font-family: $font-serif;
            color: #fff100;
            margin-bottom: 10px;
            font-weight: 700;
        }
        &_en {
            font-size: 14px;
            font-family: $font-serif;
            color: #a4c4ec;
            margin-bottom: 15px;
        }
    }
    &_subtitle {
        width: fit-content;
        margin: 0 auto;
        h4 {
            font-size: 20px;
            letter-spacing: 0.2em;
            color: #fff;
            font-weight: normal;
            margin: 0 auto;
            width: fit-content;
            text-align: center;
        }
        img {
            width: 100%;
            width: 180px;
            margin: 0;
        }
    }
    &_wrap {
        height: 600px;
        overflow-x: auto;
        margin-top: -2px;
        // z-index: -1;
        >img {
            height: 100%;
        }
    }
}

.core {
    padding: 235px 0 320px;
    position: relative;
    &_title {
        margin-bottom: 40px;
        &_ch {
            padding-left: 55px;
            position: relative;
            margin-bottom: 10px;
            h2 {
                color: $secondary-500;
                font-size: 50px;
                font-weight: 500;
                margin: 0;
                letter-spacing: 0.4em;
            }
            &::before {
                position: absolute;
                content: "";
                width: 20px;
                height: 44px;
                background-color: $secondary-500;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
        &_square {
            width: 15px;
            height: 15px;
            background-color: $secondary-500;
            margin: 0 30px 0 10px;
            transform: rotate(45deg);
        }
        &_en {
            font-size: 36px;
            color: $secondary-500;
            opacity: 0.21;
            font-family: $font-serif;
            letter-spacing: 0.2em;
            font-weight: 700;
        }
    }
    &_subtitle {
        margin-bottom: 50px;
        h3 {
            color: #101d30;
            font-size: 36px;
            margin: 0;
            letter-spacing: 0.3em;
            font-weight: normal;
        }
        img {
            width: 20px;
            margin: 0 20px 0 10px;
        }
    }
    &_list {
        margin-bottom: 95px;
        li {
            position: relative;
            padding-left: 30px;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 0.2em;
            .highlight {
                color: $secondary-500;
                font-weight: 700;
            }
            &::before {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                background-color: $primary-500;
                top: 12px;
                left: 0;
                border-radius: 50%;
            }
        }
    }
    &_swiper {
        &_item {
            display: flex;
            align-items: flex-end;
        }
        &_pic {
            &_text {
                position: absolute;
                color: #fff;
                font-size: 13px;
                margin: 0;
                right: 10px;
                bottom: 10px;
            }
        }
        &_bigpic {
            width: 67%;
            padding-bottom: calc(67% * 0.6);
            position: relative;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_smallpic {
            width: 33%;
            padding-left: 20px;
            display: flex;
            // align-items: center;
            flex-direction: column;
            &_text {
                padding-left: 100px;
                position: relative;
                margin-bottom: 75px;
                h4 {
                    font-size: 38px;
                    color: $primary-500;
                    font-weight: 700;
                    margin-bottom: 10px;
                    letter-spacing: 0.13em;
                }
                p {
                    font-size: 15px;
                    letter-spacing: 0.08em;
                    font-weight: 300;
                    color: $primary-500;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 90px;
                    height: 3px;
                    background-color: $primary-500;
                    left: -20px;
                    top: 25px;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 17px;
                    height: 17px;
                    background-color: $primary-500;
                    left: 70px;
                    top: 25px;
                    border-radius: 50%;
                    transform: translateY(-50%);
                }
            }
            &_pic {
                width: 100%;
                padding-bottom: 60%;
                position: relative;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
        }
        &-wrap {
            position: relative;
        }
        &-prev {
            right: 40px;
        }
        &-next {
            right: 0;
        }
    }
    &_geometry {
        position: absolute;
        width: 20.85%;
        top: -4.26%;
        right: -3.7%;
    }
    &_tree {
        position: absolute;
        width: 10.94%;
        bottom: 12.13%;
        left: 2.4%;
    }
    &_bubble {
        position: absolute;
        width: 18.37%;
        right: -10.36%;
        bottom: 0;
    }
    @media screen and (max-width: 1500px) {
        &_tree {
            display: none;
        }
    }
    @media screen and (max-width: 1199px) {
        &_swiper {
            &_smallpic {
                align-items: center;
                &_text {
                    margin-bottom: 50px;
                    h4 {
                        font-size: 26px;
                        // margin-bottom: 20px;
                        &::before {
                            height: 25px;
                            width: 3px;
                        }
                        &::after {
                            height: 25px;
                            width: 3px;
                        }
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        >.container {
            max-width: inherit;
            padding-left: 40px;
            padding-right: 40px;
        }
        &_swiper {
            &-wrap {
                margin-bottom: 35px;
            }
            &_item {
                flex-direction: column;
            }
            &_bigpic {
                width: 100%;
                padding-bottom: 60%;
                order: 2;
            }
            &_smallpic {
                margin-bottom: 20px;
                width: 100%;
                flex-direction: row;
                padding: 0;
                order: 1;
                &_text {
                    // width: 50%;
                    order: 2;
                    // margin: 0 auto;
                    // padding: 0 15px;
                    // &.hall {
                    //     width: 50%;
                    //     p {
                    //         width: fit-content;
                    //         margin: 0 auto;
                    //     }
                    // }
                    margin: 0;
                    &::before {
                        left: 0;
                        width: 80px;
                        top: 15px;
                    }
                    &::after {
                        left: 70px;
                        top: 15px;
                    }
                }
                &_pic {
                    width: 50%;
                    padding-bottom: calc(50% * 0.6);
                    order: 1;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding: 0;
        &_title {
            margin-bottom: 25px;
            &_ch {
                padding-left: 18px;
                margin-bottom: 5px;
                h2 {
                    font-size: 23px;
                }
                &::before {
                    width: 10px;
                    height: 20px;
                }
            }
            &_square {
                width: 8px;
                height: 8px;
                margin: 0 15px 0 5px;
            }
            &_en {
                font-size: 17px;
            }
        }
        &_subtitle {
            margin-bottom: 20px;
            h3 {
                font-size: 17px;
            }
            img {
                width: 10px;
                margin: 0 10px 0 5px;
            }
        }
        &_list {
            margin-bottom: 25px;
            li {
                font-size: 16px;
                padding-left: 15px;
                &::before {
                    width: 5px;
                    height: 5px;
                    top: 10px;
                }
            }
        }
        &_swiper {
            &_smallpic {
                &_text {
                    // h4 {
                    //     font-size: 22px;
                    //     letter-spacing: 0.05em;
                    //     padding: 0 10px;
                    // }
                    // p {
                    //     width: 100%;
                    // }
                    &::before {
                        height: 1px;
                    }
                    &::after {
                        width: 5px;
                        height: 5px;
                        left: 80px;
                    }
                }
            }
            &-wrap {
                .swiper-arrow {
                    bottom: inherit;
                    top: calc(100% + 10px);
                }
            }
            &-prev {
                left: inherit;
                right: 40px;
            }
            &-next {
                right: 0;
            }
        }
    }
    @media screen and (max-width: 575px) {
        >.container {
            padding-left: 20px;
            padding-right: 20px;
        }
        &_swiper {
            &_smallpic {
                &_text {
                    padding-left: 50px;
                    h4 {
                        font-size: 20px;
                        margin-bottom: 5px;
                        &::before {
                            height: 22px;
                        }
                        &::after {
                            height: 22px;
                        }
                    }
                    p {
                        font-size: 12px;
                    }
                    &::before {
                        width: 30px;
                    }
                    &::after {
                        width: 5px;
                        height: 5px;
                        left: 30px;
                    }
                }
            }
            &-prev {
                right: 35px;
            }
        }
    }
    @media screen and (max-width: 450px) {
        &_swiper {
            &_smallpic {
                &_text {
                    width: 60%;
                    h4 {
                        // font-size: 20px;
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 12px;
                        // width: 70%;
                    }
                }
                &_pic {
                    width: 40%;
                    padding-bottom: calc(40% * 0.6);
                }
            }
            &-prev {
                right: 35px;
            }
        }
    }
    @media screen and (max-width: 360px) {
        padding: 0;
        &_title {
            &_ch {
                h2 {
                    font-size: 20px;
                }
            }
            &_en {
                font-size: 14px;
            }
        }
        &_subtitle {
            h3 {
                font-size: 14px;
            }
        }
        &_list {
            margin-bottom: 25px;
            li {
                font-size: 16px;
                padding-left: 15px;
                &::before {
                    width: 5px;
                    height: 5px;
                    top: 10px;
                }
            }
        }
    }
}

.swiper {
    &-arrow {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        // border: 1px solid $primary-500;
        background-color: $secondary-500;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition-common;
        svg {
            width: 8px;
            height: 16px;
            polyline {
                transition: $transition-common;
            }
        }
        &:hover {
            background-color: $primary-500;
            svg {
                polyline {
                    stroke: #fff;
                }
            }
        }
        &.swiper-button-disabled {
            background-color: #90a5c1;
        }
    }
    &_nav {
        padding-top: 20px;
        transition: $transition-common;
        &_arrow {
            width: 90px;
            padding-left: 20px;
        }
        .swiper-pagination {
            position: relative;
            width: calc(100% - 90px);
            display: flex;
            &-bullet {
                width: 100%;
                border-radius: 0;
                height: 6px;
                opacity: 0;
                transition: $transition-common;
                &-active {
                    opacity: 1;
                    background-color: $secondary-500;
                    transition: $transition-common;
                }
            }
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-color: $secondary-500;
                left: 0;
                top: 50%;
            }
        }
    }
    @media screen and (max-width: 575px) {
        &-arrow {
            width: 25px;
            height: 25px;
        }
        &_nav {
            &_arrow {
                width: 70px;
                padding-left: 10px;
            }
            .swiper-pagination {
                width: calc(100% - 70px);
            }
        }
    }
}

.sweetlife {
    &_head {
        margin-bottom: 70px;
        display: flex;
    }
    &_title {
        &_ch {
            padding-left: 52px;
            position: relative;
            margin-bottom: 20px;
            h2 {
                color: $secondary-500;
                font-size: 48px;
                font-weight: 500;
                margin: 0;
                letter-spacing: 0.2em;
            }
            &::before {
                position: absolute;
                content: "";
                width: 20px;
                height: 44px;
                background-color: $secondary-500;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
        &_square {
            width: 12px;
            height: 12px;
            background-color: $secondary-500;
            margin: 0 30px 0 20px;
            transform: rotate(45deg);
        }
        &_en {
            font-size: 20px;
            font-family: $font-serif;
            color: $secondary-500;
            opacity: 0.21;
            margin: 0;
            font-weight: 700;
            letter-spacing: 0.15em;
        }
    }
    &_subtitle {
        font-size: 30px;
        letter-spacing: 0.15em;
        .highlight {
            color: $primary-500;
        }
    }
    &_place {
        // width: 350px;
        &_item {
            position: relative;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            border: 1px solid $secondary-500;
            p {
                position: absolute;
                text-align: center;
                width: 100%;
                margin: 0;
                font-size: 32px;
                color: $secondary-500;
                letter-spacing: 0.2em;
                left: 0;
                top: 50%;
                transform: translate(5px, -50%);
            }
            &:first-child {
                transform: none;
            }
            &:nth-child(2) {
                transform: translateX(-20px);
            }
            &:nth-child(3) {
                transform: translateX(-40px);
            }
            &:nth-child(even) {
                background-color: $secondary-500;
                font-weight: 500;
                p {
                    color: #fff;
                }
            }
        }
    }
    &_text {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.1em;
        line-height: 1.7;
        margin-bottom: 70px;
        text-align: justify;
        .highlight {
            color: $secondary-500;
            font-weight: 700;
        }
    }
    &_swiper {
        &_text {
            display: flex;
            align-items: center;
            padding-left: 10px;
            img {
                width: 17px;
                margin-right: 10px;
            }
            h4 {
                font-size: 28px;
                color: $secondary-500;
                margin: 0;
                letter-spacing: 0.2em;
            }
        }
    }
    @media screen and (max-width: 1399px) {
        >.container {
            max-width: inherit;
            padding-left: 40px;
            padding-right: 40px;
        }
        &_head {
            display: block;
        }
    }
    @media screen and (max-width: 767px) {
        >.container {
            padding-left: 20px;
            padding-right: 20px;
            max-width: 320px;
        }
        &_title {
            &_ch {
                padding-left: 24px;
                margin-bottom: 10px;
                h2 {
                    font-size: 24px;
                }
                &::before {
                    width: 10px;
                    height: 20px;
                }
            }
            &_square {
                width: 6px;
                height: 6px;
                margin: 0 15px 0 10px;
            }
            &_en {
                font-size: 17px;
            }
        }
        &_subtitle {
            font-size: 18px;
        }
        &_place {
            &_item {
                width: 46px;
                height: 46px;
                p {
                    letter-spacing: 0.1em;
                    font-size: 14px;
                    transform: translate(1px, -50%)
                }
                &:first-child {
                    transform: none;
                }
                &:nth-child(2) {
                    transform: translateX(-5px);
                }
                &:nth-child(3) {
                    transform: translateX(-10px);
                }
            }
        }
        &_text {
            font-size: 14px;
        }
        &_head {
            margin-bottom: 30px;
        }
    }
}