@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #000;
  background-color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

main {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 0;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding: 10px 15px;
  background-color: #217bad;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header li {
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  padding: 0 15px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #fff;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header li:first-child::before {
  display: none;
}

.header li:hover {
  opacity: 0.7;
}

.kv {
  padding: 13.07vw 0 10.1vw;
  position: relative;
}

.kv_logo {
  display: block;
  width: 500px;
  margin: 0 auto 70px;
}

.kv_h2 {
  margin-bottom: 20px;
}

.kv_h2 h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.15em;
}

.kv_h2 h2 .green {
  color: #00795a;
}

.kv_h2 img {
  width: 16px;
  display: block;
  margin: 0 20px;
}

.kv_h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 20px;
  position: relative;
}

.kv_h3 h3 {
  font-size: 46px;
  letter-spacing: 0.13em;
  margin: 0;
  font-weight: 500;
}

.kv_h3_dot {
  width: 9px;
  height: 9px;
  background-color: #00795a;
  border-radius: 50%;
  margin: 0 20px 0 15px;
}

.kv_h3::before, .kv_h3::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 34px;
  background-color: #00795a;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.kv_h3::before {
  left: -25px;
}

.kv_h3::after {
  right: -25px;
}

.kv_inform h4 {
  margin: 0;
}

.kv_inform_small {
  font-size: 16px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.kv_inform_highlight {
  color: #e45d5c;
  font-size: 50px;
  font-weight: 900;
}

.kv_inform_percent {
  font-size: 40px;
  font-weight: 900;
}

.kv_inform_unit {
  font-size: 38px;
  font-weight: 500;
}

.kv_inform_superhighlight {
  color: #e45d5c;
  font-weight: 900;
  font-size: 82px;
  margin: 0 3px;
}

.kv_inform_from {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  border-radius: 50%;
  padding-bottom: 3px;
  position: absolute;
  bottom: 15px;
  right: 5px;
}

.kv_inform_price {
  position: relative;
  padding-right: 25px;
}

.kv_inform_price_unit {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.kv_inform_dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 15px;
}

.kv_geometry {
  position: absolute;
}

.kv_geometry_1 {
  width: 45%;
  top: -5.68vw;
  right: -13.85%;
}

.kv_geometry_2 {
  width: 41.67%;
  top: 10.63vw;
  left: -17.76%;
}

.kv_bubble {
  position: absolute;
}

.kv_bubble_1 {
  width: 21.15%;
  bottom: -9.2%;
  left: -5.62%;
}

.kv_bubble_2 {
  width: 7.96%;
  bottom: 0;
  right: 11%;
}

.kv_bubble_3 {
  width: 3.93%;
  bottom: 19.16%;
  left: 24.79%;
}

.kv_bubble_4 {
  width: 25%;
  top: 4.5%;
  left: -4%;
}

.kv_bubble_5 {
  width: 30%;
  bottom: -3%;
  right: -9%;
}

@media screen and (max-width: 1299px) {
  .kv_geometry_1 {
    width: 40%;
  }
  .kv_geometry_2 {
    width: 36%;
  }
  .kv_bubble_3 {
    left: 20%;
  }
}

@media screen and (max-width: 991px) {
  .kv_logo {
    width: 270px;
    margin-bottom: 25px;
  }
  .kv_h2 h2 {
    font-size: 26px;
  }
  .kv_h2 img {
    width: 8px;
    margin: 0 13px;
  }
  .kv_h3 h3 {
    font-size: 24px;
  }
  .kv_h3_dot {
    width: 4px;
    height: 4px;
    margin: 0 10px 0 7px;
  }
  .kv_h3::before, .kv_h3::after {
    width: 4px;
    height: 15px;
  }
  .kv_h3::before {
    left: -16px;
  }
  .kv_h3::after {
    right: -16px;
  }
  .kv_inform_small {
    font-size: 12px;
  }
  .kv_inform_highlight {
    font-size: 32px;
  }
  .kv_inform_percent {
    font-size: 20px;
  }
  .kv_inform_unit {
    font-size: 19px;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  .kv_inform_superhighlight {
    font-size: 38px;
  }
  .kv_inform_from {
    width: 17px;
    height: 17px;
    font-size: 12px;
    padding-bottom: 0px;
    bottom: 5px;
    right: 3px;
  }
  .kv_inform_dot {
    width: 4px;
    height: 4px;
    margin: 0 5px;
  }
  .kv_inform_price {
    padding-right: 15px;
  }
}

@media screen and (max-width: 575px) {
  .kv {
    padding: 35vw 0 36vw;
  }
  .kv_geometry_1 {
    width: 45%;
    right: -21%;
    top: -11vw;
  }
  .kv_geometry_2 {
    width: 60%;
    left: -20%;
    top: inherit;
    bottom: -2.5%;
  }
}

@media screen and (max-width: 450px) {
  .kv {
    padding: 67.78vw 0 73.15vw;
  }
  .kv_geometry_1 {
    width: 85%;
    right: -42.76%;
    top: -26vw;
  }
  .kv_geometry_2 {
    width: 95%;
    left: -65%;
    top: inherit;
    bottom: -5.29%;
  }
  .kv_bubble_4 {
    width: 37.1%;
    top: 8.75%;
    left: -7.81%;
  }
  .kv_bubble_5 {
    width: 56.81%;
    bottom: -4.61%;
    right: -18.9%;
  }
}

.airport {
  padding-top: 8vw;
  padding-bottom: 44.38vw;
  background-image: url(../img/airport_bg.webp);
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
}

.airport > .container {
  max-width: 1500px;
  padding-left: 40px;
  padding-right: 40px;
}

.airport_title {
  margin-bottom: 40px;
  padding-left: 53px;
  position: relative;
}

.airport_title::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 50px;
  background-color: #217bad;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.airport_title_ch {
  font-size: 48px;
  font-weight: 700;
  color: #217bad;
  margin: 0;
  letter-spacing: 0.15em;
}

.airport_title_dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #217bad;
  margin: 0 20px;
}

.airport_title_en {
  color: #217bad;
  font-family: "Noto Serif TC", sans-serif;
  font-weight: 700;
  margin: 0;
  opacity: 0.2;
  font-size: 60px;
  letter-spacing: 0.15em;
  margin-left: 10px;
}

.airport_size {
  margin-bottom: 20px;
}

.airport_size h3, .airport_size h4 {
  margin: 0;
}

.airport_size_num {
  font-size: 46px;
  font-weight: 700;
  color: #e45d5c;
}

.airport_size_unit {
  font-size: 29px;
  font-weight: 700;
  color: #e45d5c;
}

.airport_size_triangle {
  width: 6px;
  margin: 0 15px;
}

.airport_size_intro {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.15em;
}

.airport_size_intro .highlight {
  font-size: 29px;
  color: #e45d5c;
}

.airport_size_dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 10px;
}

.airport_text {
  font-size: 20px;
  letter-spacing: 0.05em;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.airport_route_square {
  width: 17px;
  height: 17px;
  background-color: #000;
  margin-right: 10px;
}

.airport_route_text {
  font-size: 26px;
  margin: 0;
  font-weight: 500;
  line-height: 0.1em;
}

.airport_route_triangle {
  width: 13px;
  margin: 0 10px;
}

.airport_slogan {
  font-family: "Noto Serif TC", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding-left: 100px;
  position: relative;
  z-index: 0;
}

.airport_slogan span {
  display: block;
}

.airport_slogan span:nth-child(2) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  margin-top: 20px;
}

.airport_slogan::before {
  position: absolute;
  content: "";
  width: 146px;
  height: 146px;
  background-image: url(../img/airport_bubble.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.airport_deco {
  position: absolute;
  width: 39.23%;
  right: -27%;
  bottom: -5%;
  z-index: 1;
}

@media screen and (max-width: 1399px) {
  .airport_title {
    padding-left: 40px;
  }
  .airport_title::before {
    width: 15px;
    height: 40px;
  }
  .airport_title_ch {
    font-size: 34px;
  }
  .airport_title_en {
    font-size: 42px;
  }
  .airport_size {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;
  }
  .airport_size_head {
    position: relative;
  }
  .airport_size_head::after {
    position: absolute;
    content: "";
    width: calc(100% - 200px);
    height: 1px;
    background-color: #000;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .airport_route_text {
    font-size: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .airport_slogan {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding-left: 50px;
  }
  .airport_slogan-wrap {
    margin-top: 100px;
  }
  .airport_slogan::before {
    left: 0;
  }
}

@media screen and (max-width: 991px) {
  .airport {
    padding-top: 23.69vw;
    padding-bottom: 107.55vw;
    background-image: url(../img/airport_bg_m.webp);
  }
  .airport > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .airport_title {
    width: calc(100% * 10 / 12);
    margin-left: auto;
    margin-right: auto;
  }
  .airport_title::before {
    -webkit-transform: none;
            transform: none;
    top: 0;
  }
  .airport_title_en {
    margin: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@media screen and (max-width: 660px) {
  .airport_title {
    width: 100%;
  }
  .airport_main {
    width: 100%;
  }
  .airport_slogan {
    font-size: 14px;
    padding-left: 15px;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  .airport_slogan span:nth-child(2) {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    margin-top: 10px;
  }
  .airport_slogan-wrap {
    width: 100%;
  }
  .airport_slogan::before {
    width: 46px;
    height: 46px;
  }
}

@media screen and (max-width: 575px) {
  .airport_title {
    padding-left: 20px;
  }
  .airport_title::before {
    width: 5px;
    height: 20px;
    top: 5px;
  }
  .airport_title_ch {
    font-size: 22px;
  }
  .airport_title_dot {
    width: 4px;
    height: 4px;
    margin: 0 8px;
  }
  .airport_title_en {
    font-size: 18px;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .airport_size_head::after {
    width: calc(100% - 100px);
  }
  .airport_size_num {
    font-size: 21px;
  }
  .airport_size_unit {
    font-size: 16px;
  }
  .airport_size_intro {
    font-size: 16px;
  }
  .airport_size_intro .highlight {
    font-size: 17px;
  }
  .airport_size_dot {
    width: 4px;
    height: 4px;
    margin: 0 5px;
  }
  .airport_text {
    font-size: 15px;
  }
  .airport_route_square {
    width: 6px;
    height: 6px;
    margin-right: 5px;
  }
  .airport_route_text {
    font-size: 13px;
  }
  .airport_route_triangle {
    width: 4px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 360px) {
  .airport_title_ch {
    font-size: 18px;
  }
  .airport_title::before {
    top: 2px;
  }
}

.strength {
  padding: 80px 0 200px;
  background-color: #0076d0;
  margin-top: -2px;
  position: relative;
}

.strength_title {
  margin-bottom: 20px;
}

.strength_title h2 {
  margin: 0;
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.strength_title_dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 20px;
}

.strength_subtitle {
  color: #fff;
  margin-bottom: 95px;
}

.strength_subtitle h3 {
  font-size: 28px;
  font-weight: normal;
  margin: 0;
  letter-spacing: 0.1em;
}

.strength_subtitle h3 .highlight {
  color: #ffee00;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 0.05em;
}

.strength_subtitle_divide {
  width: 5px;
  height: 26px;
  background-color: #fff;
  margin: 0 20px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.strength_row {
  position: relative;
  margin-bottom: 70px;
}

.strength_row_title {
  font-size: 36px;
  color: #fff;
  font-weight: normal;
  letter-spacing: 0.05em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 25px;
  position: relative;
}

.strength_row_title::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background-image: url(../img/strength_taregt.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: -50px;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.strength_row_divide {
  position: absolute;
  width: 40px;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.strength_industry {
  width: 33.3333%;
  padding-bottom: 33.3333%;
  position: relative;
}

.strength_industry-wrap {
  padding: 0 40px;
}

.strength_industry > p {
  position: absolute;
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.strength_industry::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: linear-gradient(33deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 15%, rgba(220, 225, 233, 0.85) 77%, rgba(220, 225, 233, 0.85) 100%);
  mix-blend-mode: multiply;
  border-radius: 50%;
}

.strength_company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px;
}

.strength_company:first-child {
  margin-top: 50px;
}

.strength_company_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
  width: 50%;
  margin-bottom: 35px;
}

.strength_company_item.whitebg {
  background-color: #fff;
  border-radius: 100px 0 0 100px;
  color: #003980;
}

.strength_company_item.bluebg {
  background-color: #003980;
  border-radius: 0 100px 100px 0;
  color: #fff;
}

.strength_company_triangle {
  width: 10px;
  margin-right: 15px;
}

.strength_company_text {
  font-size: 24px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 10px - 15px);
}

.strength_divide-m {
  margin: 50px 0;
  width: 100%;
  display: block;
}

.strength_text {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.2em;
  color: #fff;
  line-height: 1.6;
}

.strength_text .highlight {
  font-weight: 700;
  color: #ffee00;
}

.strength_bubble {
  width: 12%;
  position: absolute;
  left: -2.8%;
  bottom: 3.7%;
}

.strength_geometry {
  width: 33.7%;
  position: absolute;
  right: -23.6%;
  top: 0;
}

@media screen and (max-width: 1500px) {
  .strength_bubble {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .strength > .container {
    max-width: inherit;
  }
  .strength_title, .strength_subtitle {
    padding-left: 40px;
    padding-right: 40px;
  }
  .strength_company {
    padding: 0 40px;
  }
  .strength_industry > p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .strength_company, .strength_industry-wrap {
    padding: 0 20px;
  }
}

@media screen and (max-width: 991px) {
  .strength {
    padding: 40px 0 50px;
  }
  .strength_title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .strength_title h2 {
    font-size: 22px;
  }
  .strength_title_dot {
    width: 4px;
    height: 4px;
    margin: 0 5px;
  }
  .strength_title::before {
    position: absolute;
    content: "";
    width: calc(100% - (100% - 280px) / 2 + 20px);
    height: 1px;
    background-color: #ffed00;
    left: -20px;
    bottom: 0;
  }
  .strength_title::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffed00;
    right: calc((100% - 280px) / 2);
    bottom: 0;
    -webkit-transform: translateY(calc(50% - 1px));
            transform: translateY(calc(50% - 1px));
  }
  .strength_subtitle {
    width: 280px;
    margin: 0 auto 95px;
  }
  .strength_subtitle h3 {
    font-size: 18px;
    position: relative;
  }
  .strength_subtitle h3 .highlight {
    font-size: 20px;
  }
  .strength_subtitle h3::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffed00;
    top: 50%;
    left: -15px;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  .strength_subtitle_top {
    margin-bottom: 10px !important;
  }
  .strength_subtitle_bottom {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto !important;
  }
  .strength_row {
    max-width: 500px;
    margin: 0 auto;
  }
  .strength_row_divide {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .strength_row > div {
    padding: 0;
  }
  .strength_row_title {
    font-size: 20px;
  }
  .strength_row_title::before {
    width: 20px;
    height: 20px;
    left: -25px;
  }
  .strength_industry > p {
    font-size: 16px;
  }
  .strength_industry-wrap {
    padding: 0;
  }
  .strength_company {
    padding: 0;
  }
  .strength_company:first-child {
    margin-top: 0;
  }
  .strength_company_text {
    font-size: 18px;
    width: calc(100% - 15px);
  }
  .strength_company_item {
    margin-bottom: 20px;
    padding: 10px 15px;
  }
  .strength_company_triangle {
    width: 5px;
    margin-right: 10px;
  }
  .strength_divide-m {
    margin: 30px 0;
  }
}

.map {
  position: relative;
}

.map_bubble {
  position: absolute;
}

.map_bubble-1 {
  width: 16.48%;
  top: -12.58%;
  right: -8%;
}

.map_bubble-2 {
  width: 10.91%;
  bottom: -8.1%;
  left: 7.6%;
}

.map_bubble-3 {
  width: 30%;
  top: 0;
  right: -12.07%;
}

.map_text {
  position: absolute;
  color: #fff;
  font-size: 13px;
  text-shadow: 0 0 5px #000;
  letter-spacing: 0.3em;
  bottom: 25px;
  left: 25px;
}

.map_title {
  padding-top: 113px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #0075ce;
  z-index: 1;
}

.map_title_ch {
  font-size: 32px;
  font-family: "Noto Serif TC", sans-serif;
  color: #fff100;
  margin-bottom: 10px;
  font-weight: 700;
}

.map_title_en {
  font-size: 14px;
  font-family: "Noto Serif TC", sans-serif;
  color: #a4c4ec;
  margin-bottom: 15px;
}

.map_subtitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.map_subtitle h4 {
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #fff;
  font-weight: normal;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.map_subtitle img {
  width: 100%;
  width: 180px;
  margin: 0;
}

.map_wrap {
  height: 600px;
  overflow-x: auto;
  margin-top: -2px;
}

.map_wrap > img {
  height: 100%;
}

.core {
  padding: 235px 0 320px;
  position: relative;
}

.core_title {
  margin-bottom: 40px;
}

.core_title_ch {
  padding-left: 55px;
  position: relative;
  margin-bottom: 10px;
}

.core_title_ch h2 {
  color: #00795a;
  font-size: 50px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.4em;
}

.core_title_ch::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 44px;
  background-color: #00795a;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.core_title_square {
  width: 15px;
  height: 15px;
  background-color: #00795a;
  margin: 0 30px 0 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.core_title_en {
  font-size: 36px;
  color: #00795a;
  opacity: 0.21;
  font-family: "Noto Serif TC", sans-serif;
  letter-spacing: 0.2em;
  font-weight: 700;
}

.core_subtitle {
  margin-bottom: 50px;
}

.core_subtitle h3 {
  color: #101d30;
  font-size: 36px;
  margin: 0;
  letter-spacing: 0.3em;
  font-weight: normal;
}

.core_subtitle img {
  width: 20px;
  margin: 0 20px 0 10px;
}

.core_list {
  margin-bottom: 95px;
}

.core_list li {
  position: relative;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.core_list li .highlight {
  color: #00795a;
  font-weight: 700;
}

.core_list li::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #217bad;
  top: 12px;
  left: 0;
  border-radius: 50%;
}

.core_swiper_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.core_swiper_pic_text {
  position: absolute;
  color: #fff;
  font-size: 13px;
  margin: 0;
  right: 10px;
  bottom: 10px;
}

.core_swiper_bigpic {
  width: 67%;
  padding-bottom: calc(67% * 0.6);
  position: relative;
}

.core_swiper_bigpic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.core_swiper_smallpic {
  width: 33%;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.core_swiper_smallpic_text {
  padding-left: 100px;
  position: relative;
  margin-bottom: 75px;
}

.core_swiper_smallpic_text h4 {
  font-size: 38px;
  color: #217bad;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 0.13em;
}

.core_swiper_smallpic_text p {
  font-size: 15px;
  letter-spacing: 0.08em;
  font-weight: 300;
  color: #217bad;
}

.core_swiper_smallpic_text::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 3px;
  background-color: #217bad;
  left: -20px;
  top: 25px;
}

.core_swiper_smallpic_text::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background-color: #217bad;
  left: 70px;
  top: 25px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.core_swiper_smallpic_pic {
  width: 100%;
  padding-bottom: 60%;
  position: relative;
}

.core_swiper_smallpic_pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.core_swiper-wrap {
  position: relative;
}

.core_swiper-prev {
  right: 40px;
}

.core_swiper-next {
  right: 0;
}

.core_geometry {
  position: absolute;
  width: 20.85%;
  top: -4.26%;
  right: -3.7%;
}

.core_tree {
  position: absolute;
  width: 10.94%;
  bottom: 12.13%;
  left: 2.4%;
}

.core_bubble {
  position: absolute;
  width: 18.37%;
  right: -10.36%;
  bottom: 0;
}

@media screen and (max-width: 1500px) {
  .core_tree {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .core_swiper_smallpic {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .core_swiper_smallpic_text {
    margin-bottom: 50px;
  }
  .core_swiper_smallpic_text h4 {
    font-size: 26px;
  }
  .core_swiper_smallpic_text h4::before {
    height: 25px;
    width: 3px;
  }
  .core_swiper_smallpic_text h4::after {
    height: 25px;
    width: 3px;
  }
  .core_swiper_smallpic_text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .core > .container {
    max-width: inherit;
    padding-left: 40px;
    padding-right: 40px;
  }
  .core_swiper-wrap {
    margin-bottom: 35px;
  }
  .core_swiper_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .core_swiper_bigpic {
    width: 100%;
    padding-bottom: 60%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .core_swiper_smallpic {
    margin-bottom: 20px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .core_swiper_smallpic_text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
  .core_swiper_smallpic_text::before {
    left: 0;
    width: 80px;
    top: 15px;
  }
  .core_swiper_smallpic_text::after {
    left: 70px;
    top: 15px;
  }
  .core_swiper_smallpic_pic {
    width: 50%;
    padding-bottom: calc(50% * 0.6);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 767px) {
  .core {
    padding: 0;
  }
  .core_title {
    margin-bottom: 25px;
  }
  .core_title_ch {
    padding-left: 18px;
    margin-bottom: 5px;
  }
  .core_title_ch h2 {
    font-size: 23px;
  }
  .core_title_ch::before {
    width: 10px;
    height: 20px;
  }
  .core_title_square {
    width: 8px;
    height: 8px;
    margin: 0 15px 0 5px;
  }
  .core_title_en {
    font-size: 17px;
  }
  .core_subtitle {
    margin-bottom: 20px;
  }
  .core_subtitle h3 {
    font-size: 17px;
  }
  .core_subtitle img {
    width: 10px;
    margin: 0 10px 0 5px;
  }
  .core_list {
    margin-bottom: 25px;
  }
  .core_list li {
    font-size: 16px;
    padding-left: 15px;
  }
  .core_list li::before {
    width: 5px;
    height: 5px;
    top: 10px;
  }
  .core_swiper_smallpic_text::before {
    height: 1px;
  }
  .core_swiper_smallpic_text::after {
    width: 5px;
    height: 5px;
    left: 80px;
  }
  .core_swiper-wrap .swiper-arrow {
    bottom: inherit;
    top: calc(100% + 10px);
  }
  .core_swiper-prev {
    left: inherit;
    right: 40px;
  }
  .core_swiper-next {
    right: 0;
  }
}

@media screen and (max-width: 575px) {
  .core > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .core_swiper_smallpic_text {
    padding-left: 50px;
  }
  .core_swiper_smallpic_text h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .core_swiper_smallpic_text h4::before {
    height: 22px;
  }
  .core_swiper_smallpic_text h4::after {
    height: 22px;
  }
  .core_swiper_smallpic_text p {
    font-size: 12px;
  }
  .core_swiper_smallpic_text::before {
    width: 30px;
  }
  .core_swiper_smallpic_text::after {
    width: 5px;
    height: 5px;
    left: 30px;
  }
  .core_swiper-prev {
    right: 35px;
  }
}

@media screen and (max-width: 450px) {
  .core_swiper_smallpic_text {
    width: 60%;
  }
  .core_swiper_smallpic_text h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .core_swiper_smallpic_text p {
    font-size: 12px;
  }
  .core_swiper_smallpic_pic {
    width: 40%;
    padding-bottom: calc(40% * 0.6);
  }
  .core_swiper-prev {
    right: 35px;
  }
}

@media screen and (max-width: 360px) {
  .core {
    padding: 0;
  }
  .core_title_ch h2 {
    font-size: 20px;
  }
  .core_title_en {
    font-size: 14px;
  }
  .core_subtitle h3 {
    font-size: 14px;
  }
  .core_list {
    margin-bottom: 25px;
  }
  .core_list li {
    font-size: 16px;
    padding-left: 15px;
  }
  .core_list li::before {
    width: 5px;
    height: 5px;
    top: 10px;
  }
}

.swiper-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00795a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiper-arrow svg {
  width: 8px;
  height: 16px;
}

.swiper-arrow svg polyline {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiper-arrow:hover {
  background-color: #217bad;
}

.swiper-arrow:hover svg polyline {
  stroke: #fff;
}

.swiper-arrow.swiper-button-disabled {
  background-color: #90a5c1;
}

.swiper_nav {
  padding-top: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiper_nav_arrow {
  width: 90px;
  padding-left: 20px;
}

.swiper_nav .swiper-pagination {
  position: relative;
  width: calc(100% - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper_nav .swiper-pagination-bullet {
  width: 100%;
  border-radius: 0;
  height: 6px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiper_nav .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #00795a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiper_nav .swiper-pagination::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #00795a;
  left: 0;
  top: 50%;
}

.swiper_nav.nav-vertical .swiper-pagination {
  width: 100%;
  height: calc(100% - 90px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper_nav.nav-vertical .swiper-pagination-bullet {
  height: 100%;
  width: 12px;
}

.swiper_nav.nav-vertical .swiper-pagination-bullet-active {
  background-color: #00795a;
}

.swiper_nav.nav-vertical .swiper-pagination::after {
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper_nav.nav-vertical .swiper_nav_arrow {
  width: 100%;
  padding-left: 0;
  padding-top: 20px;
}

.swiper_nav.nav-vertical .swiper_nav_arrow .swiper-arrow {
  margin-left: auto;
  margin-right: auto;
}

.swiper-tab li {
  width: 190px;
  border-radius: 100px;
  border: 1px solid #00795a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #00795a;
  font-size: 14px;
  padding: 5px 0;
  margin: 0 auto 10px;
  cursor: pointer;
}

.swiper-tab li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 50%;
  left: 24px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  background-color: #00795a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiper-tab li::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 50%;
  right: 24px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  background-color: #00795a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiper-tab li.active {
  background-color: #00795a;
  color: #fff;
}

.swiper-tab li.active::after, .swiper-tab li.active::before {
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .swiper_nav.nav-vertical .swiper-pagination {
    height: calc(100% - 58px);
  }
  .swiper_nav.nav-vertical .swiper-pagination-bullet {
    width: 4px;
  }
  .swiper_nav.nav-vertical .swiper-pagination::after {
    width: 1px;
  }
  .swiper_nav.nav-vertical .swiper_nav_arrow {
    width: 100%;
    padding-left: 0;
    padding-top: 10px;
    height: 58px;
  }
  .swiper_nav.nav-vertical .swiper_nav_arrow .swiper-arrow {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 575px) {
  .swiper-arrow {
    width: 25px;
    height: 25px;
  }
  .swiper_nav_arrow {
    width: 70px;
    padding-left: 10px;
  }
  .swiper_nav .swiper-pagination {
    width: calc(100% - 70px);
  }
}

.sweetlife {
  position: relative;
}

.sweetlife_head {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sweetlife_title_ch {
  padding-left: 52px;
  position: relative;
  margin-bottom: 20px;
}

.sweetlife_title_ch h2 {
  color: #00795a;
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.2em;
}

.sweetlife_title_ch::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 44px;
  background-color: #00795a;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sweetlife_title_square {
  width: 12px;
  height: 12px;
  background-color: #00795a;
  margin: 0 30px 0 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sweetlife_title_en {
  font-size: 20px;
  font-family: "Noto Serif TC", sans-serif;
  color: #00795a;
  opacity: 0.21;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.15em;
}

.sweetlife_subtitle {
  font-size: 30px;
  letter-spacing: 0.15em;
}

.sweetlife_subtitle .highlight {
  color: #217bad;
}

.sweetlife_place_item {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #00795a;
}

.sweetlife_place_item p {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 32px;
  color: #00795a;
  letter-spacing: 0.2em;
  left: 0;
  top: 50%;
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
}

.sweetlife_place_item:first-child {
  -webkit-transform: none;
          transform: none;
}

.sweetlife_place_item:nth-child(2) {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.sweetlife_place_item:nth-child(3) {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.sweetlife_place_item:nth-child(even) {
  background-color: #00795a;
  font-weight: 500;
}

.sweetlife_place_item:nth-child(even) p {
  color: #fff;
}

.sweetlife_text {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 1.7;
  margin-bottom: 70px;
  text-align: justify;
}

.sweetlife_text .highlight {
  color: #00795a;
  font-weight: 700;
}

.sweetlife_swiper {
  margin-bottom: 280px;
}

.sweetlife_swiper_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  margin-bottom: 15px;
}

.sweetlife_swiper_text img {
  width: 17px;
  margin-right: 10px;
}

.sweetlife_swiper_text h4 {
  font-size: 28px;
  color: #00795a;
  margin: 0;
  letter-spacing: 0.2em;
}

.sweetlife_swiper_text h4 .remark {
  font-size: 17px;
}

.sweetlife_swiper_pic {
  width: 100%;
  padding-bottom: 64%;
  position: relative;
}

.sweetlife_swiper_pic > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.sweetlife_swiper_pic > p {
  font-size: 13px;
  color: #fff;
  margin: 0;
  position: absolute;
  text-shadow: 0 0 3px #000;
  bottom: 10px;
  right: 10px;
}

.sweetlife_bubble {
  width: 14.2%;
  position: absolute;
  top: 30%;
  left: -7.13%;
}

@media screen and (max-width: 1399px) {
  .sweetlife > .container {
    max-width: inherit;
    padding-left: 40px;
    padding-right: 40px;
  }
  .sweetlife_head {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .sweetlife > .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 320px;
  }
  .sweetlife_title_ch {
    padding-left: 24px;
    margin-bottom: 10px;
  }
  .sweetlife_title_ch h2 {
    font-size: 24px;
  }
  .sweetlife_title_ch::before {
    width: 10px;
    height: 20px;
  }
  .sweetlife_title_square {
    width: 6px;
    height: 6px;
    margin: 0 15px 0 10px;
  }
  .sweetlife_title_en {
    font-size: 17px;
  }
  .sweetlife_subtitle {
    font-size: 18px;
  }
  .sweetlife_place_item {
    width: 46px;
    height: 46px;
  }
  .sweetlife_place_item p {
    letter-spacing: 0.1em;
    font-size: 14px;
    -webkit-transform: translate(1px, -50%);
            transform: translate(1px, -50%);
  }
  .sweetlife_place_item:first-child {
    -webkit-transform: none;
            transform: none;
  }
  .sweetlife_place_item:nth-child(2) {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  .sweetlife_place_item:nth-child(3) {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  .sweetlife_text {
    font-size: 14px;
  }
  .sweetlife_head {
    margin-bottom: 30px;
  }
  .sweetlife_swiper {
    margin-bottom: 50px;
  }
  .sweetlife_swiper_text img {
    width: 7px;
  }
  .sweetlife_swiper_text h4 {
    font-size: 15px;
  }
  .sweetlife_swiper_text h4 .remark {
    font-size: 12px;
  }
}

.school {
  padding-bottom: 288px;
  position: relative;
}

.school_swiper {
  position: relative;
}

.school_swiper-text {
  width: 35px;
  margin-right: 25px;
}

.school_swiper-text img {
  width: 11px;
  margin: 0 auto 10px;
  display: block;
}

.school_swiper-text p {
  color: #00795a;
  font-size: 24px;
  margin: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.school_swiper-pic {
  width: calc(100% - 60px);
  position: relative;
}

.school_swiper-pic_item {
  position: relative;
  width: 100%;
  padding-bottom: 61%;
}

.school_swiper-pic_item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.school_swiper-pic_item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.school_swiper-pic_item > p {
  position: absolute;
  color: #fff;
  margin: 0;
  right: 20px;
  bottom: 20px;
  text-shadow: 0 0 3px #000;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.school_swiper-pic_text {
  margin-top: 45px;
  margin-bottom: 0;
  text-align: center;
  color: #00795a;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.4em;
}

.school_swiper .swiper_nav {
  position: absolute;
  width: 60px;
  padding-right: 25px;
  top: 175px;
  left: 0;
  z-index: 5;
  height: calc(100% - 175px - 27px - 45px);
}

.school_bubble-1 {
  position: absolute;
  width: 13.28vw;
  top: -14.12%;
  left: -5.41%;
}

.school_bubble-2 {
  position: absolute;
  width: 20.5vw;
  bottom: 7%;
  right: -4.79%;
}

.school_geometry-1 {
  position: absolute;
  width: 41.46vw;
  top: -16.55%;
  right: -28.91%;
}

.school_geometry-2 {
  position: absolute;
  width: 13.59vw;
  bottom: 8%;
  left: -3.49%;
}

@media screen and (max-width: 991px) {
  .school {
    padding-bottom: 32.22vw;
  }
  .school_swiper {
    padding-left: 35px;
    margin-bottom: 25px;
  }
  .school_swiper-text {
    display: none;
  }
  .school_swiper-pic {
    width: 100%;
  }
  .school_swiper-pic_item {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: 76%;
  }
  .school_swiper-pic_text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 0;
    letter-spacing: 0.2em;
  }
  .school_swiper .swiper_nav {
    height: calc(100% - 33px);
    width: 35px;
    top: 33px;
    padding-right: 0;
    padding-top: 0;
  }
}

@media screen and (max-width: 360px) {
  .school .sweetlife_title_ch {
    padding-left: 20px;
  }
  .school .sweetlife_title_ch h2 {
    font-size: 22px;
  }
  .school .sweetlife_title_square {
    margin: 0 10px 0 5px;
  }
}

.green {
  padding-bottom: 267px;
  position: relative;
}

.green_title {
  margin-bottom: 115px;
}

.green_title_en {
  padding-left: 55px;
  color: #00795a !important;
}

.green_content {
  position: relative;
}

.green_content .swiper_nav {
  padding-top: 0;
  position: absolute;
  height: 100%;
  top: 0;
  right: -40px;
}

.green_content .swiper_nav_arrow {
  padding-top: 0 !important;
  padding-bottom: 20px;
}

.green_text {
  width: 25%;
  padding-top: 120px;
}

.green_text h3 {
  color: #00795a;
  font-size: 42px;
  font-weight: normal;
  letter-spacing: 0.2em;
  line-height: 1.7;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 30px;
}

.green_text h3::before {
  position: absolute;
  content: "";
  width: 155px;
  height: 164px;
  background-image: url(../img/green_deco.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: -60px;
  left: -85px;
}

.green_text h4 {
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  color: #00795a;
  letter-spacing: 0.3em;
}

.green_swiper-wrap {
  width: 75%;
}

.green_swiper_item {
  width: 100%;
  padding-bottom: 68.32%;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}

.green_swiper_item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.green_swiper_item > p {
  position: absolute;
  font-size: 13px;
  color: #fff;
  margin: 0;
  bottom: 20px;
  right: 20px;
  text-shadow: 0 0 3px #000;
}

.green_bubble {
  position: absolute;
  width: 5.97vw;
  left: 7.6%;
  bottom: 5.66%;
}

.green_bubble-2 {
  position: absolute;
  width: 32.93%;
  top: 15%;
  left: -15.74%;
}

.green_geometry {
  position: absolute;
  width: 41.85vw;
  right: -29.17%;
  bottom: -8.93%;
}

@media screen and (min-width: 992px) {
  .green_tab {
    position: absolute;
    bottom: 9.52%;
    left: 0;
    width: 25%;
  }
  .green_tab li {
    width: 310px;
    margin-left: auto;
    margin-right: 0;
    border-radius: 100px 0 0 100px;
    border-right: 0;
    font-size: 27px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .green_tab li::before {
    width: 10px;
    height: 10px;
  }
  .green_tab li::after {
    display: none;
  }
  .green_tab li .small {
    font-size: 16px;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .green_tab li.active {
    width: 330px;
  }
}

@media screen and (max-width: 1350px) {
  .green_text {
    padding-top: 45px;
  }
  .green_tab {
    bottom: 2%;
  }
}

@media screen and (max-width: 1199px) {
  .green > .container {
    max-width: inherit;
    padding-left: 80px;
    padding-right: 80px;
  }
  .green_text {
    padding-top: 20px;
  }
  .green_text h3 {
    font-size: 34px;
    margin-bottom: 15px;
  }
  .green_text h4 {
    font-size: 22px;
  }
}

@media screen and (max-width: 991px) {
  .green {
    padding-bottom: 30px;
  }
  .green > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .green_title {
    margin: 0 auto 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .green_title_en {
    margin-bottom: 14vw;
    padding-left: 15%;
  }
  .green_text {
    width: 100%;
    margin-bottom: 15px;
    padding-top: 0;
    padding-left: 30px;
  }
  .green_text h3 {
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 0.45em;
  }
  .green_text h3::before {
    width: 51px;
    height: 49px;
    top: -15px;
    left: -32px;
  }
  .green_text h4 {
    font-size: 16px;
  }
  .green_swiper {
    margin-bottom: 20px;
  }
  .green_swiper-wrap {
    width: 100%;
  }
  .green_swiper_item {
    border-radius: 10px;
  }
  .green_content {
    padding-right: 30px;
  }
  .green_content .swiper_nav {
    height: calc(100% - 102px - 15px - 119px - 20px);
    top: 117px;
    right: 0;
  }
  .green_tab {
    padding-left: 30px;
  }
  .green_geometry {
    width: 70.17%;
    top: -14%;
    bottom: inherit;
    right: -35%;
  }
}

@media screen and (max-width: 450px) {
  .green_geometry {
    top: -10%;
  }
  .green_title_en {
    margin-bottom: 20vw;
    padding-left: 10%;
  }
}

.title-en {
  color: #217bad;
  font-family: "Noto Serif TC", sans-serif;
  font-size: 36px;
  font-weight: 700;
  opacity: 0.2;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 991px) {
  .title-en {
    font-size: 18px;
  }
}

.building .title-en {
  margin-bottom: 105px;
}

.building .sweetlife_title_ch h2 {
  color: #217bad;
}

.building .sweetlife_title_ch::before {
  background-color: #217bad;
}

.building_title {
  margin-bottom: 25px;
}
/*# sourceMappingURL=style.css.map */