@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
body {
  font-family: 'Noto Sans TC', sans-serif;
  color: #000;
  background-color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

main {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 0;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding: 10px 15px;
  background-color: #217bad;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header li {
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  padding: 0 15px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #fff;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header li:first-child::before {
  display: none;
}

.header li:hover {
  opacity: 0.7;
}

.kv {
  padding: 13.07vw 0 10.1vw;
  position: relative;
}

.kv_logo {
  display: block;
  width: 500px;
  margin: 0 auto 70px;
}

.kv_h2 {
  margin-bottom: 20px;
}

.kv_h2 h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.15em;
}

.kv_h2 h2 .green {
  color: #00795a;
}

.kv_h2 img {
  width: 16px;
  display: block;
  margin: 0 20px;
}

.kv_h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 20px;
  position: relative;
}

.kv_h3 h3 {
  font-size: 46px;
  letter-spacing: 0.13em;
  margin: 0;
  font-weight: 500;
}

.kv_h3_dot {
  width: 9px;
  height: 9px;
  background-color: #00795a;
  border-radius: 50%;
  margin: 0 20px 0 15px;
}

.kv_h3::before, .kv_h3::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 34px;
  background-color: #00795a;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.kv_h3::before {
  left: -25px;
}

.kv_h3::after {
  right: -25px;
}

.kv_inform h4 {
  margin: 0;
}

.kv_inform_small {
  font-size: 16px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.kv_inform_highlight {
  color: #e45d5c;
  font-size: 50px;
  font-weight: 900;
}

.kv_inform_percent {
  font-size: 40px;
  font-weight: 900;
}

.kv_inform_unit {
  font-size: 38px;
  font-weight: 500;
}

.kv_inform_superhighlight {
  color: #e45d5c;
  font-weight: 900;
  font-size: 82px;
  margin: 0 3px;
}

.kv_inform_from {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  border-radius: 50%;
  padding-bottom: 3px;
  position: absolute;
  bottom: 15px;
  right: 5px;
}

.kv_inform_price {
  position: relative;
  padding-right: 25px;
}

.kv_inform_price_unit {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.kv_inform_dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 15px;
}

.kv_geometry {
  position: absolute;
}

.kv_geometry_1 {
  width: 45%;
  top: -5.68vw;
  right: -13.85%;
}

.kv_geometry_2 {
  width: 41.67%;
  top: 10.63vw;
  left: -17.76%;
}

.kv_bubble {
  position: absolute;
}

.kv_bubble_1 {
  width: 21.15%;
  bottom: -9.2%;
  left: -5.62%;
}

.kv_bubble_2 {
  width: 7.96%;
  bottom: 0;
  right: 11%;
}

.kv_bubble_3 {
  width: 3.93%;
  bottom: 19.16%;
  left: 24.79%;
}

.kv_bubble_4 {
  width: 25%;
  top: 4.5%;
  left: -4%;
}

.kv_bubble_5 {
  width: 30%;
  bottom: -3%;
  right: -9%;
}

@media screen and (max-width: 1299px) {
  .kv_geometry_1 {
    width: 40%;
  }
  .kv_geometry_2 {
    width: 36%;
  }
  .kv_bubble_3 {
    left: 20%;
  }
}

@media screen and (max-width: 991px) {
  .kv_logo {
    width: 270px;
    margin-bottom: 25px;
  }
  .kv_h2 h2 {
    font-size: 26px;
  }
  .kv_h2 img {
    width: 8px;
    margin: 0 13px;
  }
  .kv_h3 h3 {
    font-size: 24px;
  }
  .kv_h3_dot {
    width: 4px;
    height: 4px;
    margin: 0 10px 0 7px;
  }
  .kv_h3::before, .kv_h3::after {
    width: 4px;
    height: 15px;
  }
  .kv_h3::before {
    left: -16px;
  }
  .kv_h3::after {
    right: -16px;
  }
  .kv_inform_small {
    font-size: 12px;
  }
  .kv_inform_highlight {
    font-size: 32px;
  }
  .kv_inform_percent {
    font-size: 20px;
  }
  .kv_inform_unit {
    font-size: 19px;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  .kv_inform_superhighlight {
    font-size: 38px;
  }
  .kv_inform_from {
    width: 17px;
    height: 17px;
    font-size: 12px;
    padding-bottom: 0px;
    bottom: 5px;
    right: 3px;
  }
  .kv_inform_dot {
    width: 4px;
    height: 4px;
    margin: 0 5px;
  }
  .kv_inform_price {
    padding-right: 15px;
  }
}

@media screen and (max-width: 575px) {
  .kv {
    padding: 35vw 0 36vw;
  }
  .kv_geometry_1 {
    width: 45%;
    right: -21%;
    top: -11vw;
  }
  .kv_geometry_2 {
    width: 60%;
    left: -20%;
    top: inherit;
    bottom: -2.5%;
  }
}

@media screen and (max-width: 450px) {
  .kv {
    padding: 67.78vw 0 73.15vw;
  }
  .kv_geometry_1 {
    width: 85%;
    right: -42.76%;
    top: -26vw;
  }
  .kv_geometry_2 {
    width: 95%;
    left: -65%;
    top: inherit;
    bottom: -5.29%;
  }
  .kv_bubble_4 {
    width: 37.1%;
    top: 8.75%;
    left: -7.81%;
  }
  .kv_bubble_5 {
    width: 56.81%;
    bottom: -4.61%;
    right: -18.9%;
  }
}
/*# sourceMappingURL=style.css.map */